*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landingImage{
    background-image: url("https://cdn.rickowens.eu/home_page_images/4025/Schermata_2019-02-27_alle_11.16.55.png");
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (min-width: 1200px){
        height: 430px;
        background-attachment: fixed;
        display: none;

        .toggle{
            display: none;
        }

        
        

    }
}



// #video-div{
//     display: none;
//     @media(min-width: 576px){
//         display: block

//     }

// }

header{
    width: 100%;
    height: 53px;
    padding: 10px;
    
    .toggle{
        width: 47px;
        height: 100%;
    }
}

#mainbody{
    width: 100%;
    height: 672px;
    img{
        width: 100%
    }
}

.video video{

    @media(min-width: 578px){
        display: none;
    }
}



#flex{
    display: flex;
    padding: 25px;
    flex-direction: row;
    justify-content: space-between;
    
}

#heading{
  text-align: center;
  flex-grow: 1;
}

#left img{
    margin-right: 15px;
    
}


@media (min-width: 578px){
    #flex #menuImg{
        display: none;
    }

    
}
#shipping{
    font-size: 13px;
    letter-spacing: 1.5px;
    @media (max-width: 578px){
        display: none;
    }
}

#flex input{
    border-top: none;
    border-left: none;
    border-right: none;

    @media(max-width: 578px){
        display: none;
    }
    &:focus{
        outline: none;
    }
}

footer{
    text-align: right;
    font-size: 0.8em;
}


#bag{
    margin-right: 15px;
    @media(max-width: 578px){
        display: none;
        margin-right: 0;
   }
}

@media(min-width: 578px){
    #left{
        display: none;
    }
}

