$fontsize: 10px;
$spacing: 10px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#flex{
    display: flex;
    padding: 25px;
    flex-direction: row;
    justify-content: space-between;
}

#heading{
    text-align: center;
    flex-grow: 1;
  }

  #left img{
    margin-right: 15px; 
}

#search {
    border: none;
    border-bottom: 1px solid #444;
}

#menu button{
    padding: $spacing * .6 $spacing * 1.5;
    font-size: $fontsize;
    text-transform: capitalize;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    @media(max-width: 578px){
        display: none;
    }
}

#menuimg {
    float: left;
    width: 23px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.hideOnMobile {
    display: inline-block;
}
.mobileOnly {
    display: none;
}

@media(max-width: 992px) {
    .hideOnMobile {
        display: none !important;
    }
    .mobileOnly {
        display: inherit !important;
    }
    #content {
        margin-left: $spacing * 0;
    }
}

@media (min-width: 578px){
    #flex #menuImg{
        display: none;
    }

    
}

#shipping{
    font-size: $fontsize;
    letter-spacing: 1.5px;
    @media (max-width: 578px){
        display: none;
    }
}

#flex input{
    border-top: none;
    border-left: none;
    border-right: none;

    @media(max-width: 578px){
        display: none;
    }
    &:focus{
        outline: none;
    }
}

#bag{
    margin-right: 15px;
    @media(max-width: 578px){
        display: none;
        margin-right: 0;
   }
}

@media(min-width: 578px){
    #left{
        display: none;
    }
}

.bodycontent{
    width: 60%;
    margin: 0 auto;
    font-size: 10px;
}

footer{
    text-align: right;
    font-size: 0.8em;
}


.bodycontent .information{
    font-weight: 1000;
    margin-bottom: 15px;
}

.subinfo{
    margin-bottom: 10px;
}